---
import SectionContainer from "@/layouts/SectionContainer.astro";
import { Card, CardContent, CardHeader } from "@/components/ui/card";
import { TypographyH2 } from "@/components/ui/typography";
import { Button } from "@/components/ui/button";

interface Props {
  cta: {
    title: string;
    description: string;
    primaryButton: { label: string; href: string };
  };
}

const { cta } = Astro.props;
---

<SectionContainer background="bg-background">
  <Card class="border-border bg-white">
    <CardHeader>
      <TypographyH2 class="font-heading font-normal text-foreground">
        {cta.title}
      </TypographyH2>
    </CardHeader>
    <CardContent
      class="flex flex-col gap-6 lg:flex-row lg:items-center lg:justify-between"
    >
      <p class="mt-2 text-sm leading-7 text-text-muted">
        {cta.description}
      </p>

      <a href={cta.primaryButton.href}>
        <Button size={"lg"} class={"bg-brand-900"}>
          {cta.primaryButton.label}
        </Button>
      </a>
    </CardContent>
  </Card>
</SectionContainer>
