---
import SectionContainer from "@/layouts/SectionContainer.astro";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { Image } from "astro:assets";

import Logo from "@/assets/images/logo.webp";
import { aboutContent } from "@/lib/content/about";
---

<SectionContainer background="bg-surface-soft">
  <div class="grid gap-8 lg:grid-cols-[0.92fr_1.08fr] lg:items-center">
    <div
      class="overflow-hidden rounded-xl h-full border border-border bg-brand-900"
    >
      <Image
        src={Logo}
        alt="Budaya Lombok"
        class="h-full w-full object-cover"
      />
    </div>

    <Card className="border-border bg-white">
      <CardHeader>
        <p class="text-brand-700 text-lg">Perjalanan Kami</p>

        <CardTitle className="text-3xl leading-tight">
          {aboutContent.story.title}
        </CardTitle>
      </CardHeader>

      <CardContent className="flex flex-col gap-4">
        {
          aboutContent.story.paragraphs.map((paragraph) => (
            <p class="text-sm leading-7 text-text-muted">{paragraph}</p>
          ))
        }
      </CardContent>
    </Card>
  </div>
</SectionContainer>
