---
import { Image } from "astro:assets";

import Logo from "@/assets/images/logo.webp";

import NavigationDesktop from "./NavigationDesktop";
import NavigationMobile from "./NavigationMobile";

import { navigation } from "@/lib/content/navigationData";

import { Button } from "../ui/button";

const isHome = Astro.url.pathname === "/" || Astro.url.pathname === "/home";
---

<header
  class="fixed top-0 z-50 w-full text-background border-b border-border/80 bg-black/20 backdrop-blur-md"
>
  <div
    class="mx-auto flex max-w-7xl items-center justify-between gap-4 px-4 py-4 sm:px-6 lg:px-8"
  >
    <a href="/" class="flex items-center gap-3">
      <Image
        src={Logo}
        alt="Sungkar Group"
        class="h-14 w-auto"
        loading="eager"
      />
    </a>

    <nav class="hidden flex-1 justify-center lg:flex lg:max-w-5xl">
      <NavigationDesktop items={navigation} client:load />
    </nav>

    <div class="hidden items-center gap-3 lg:flex">
      <Button size="lg">
        <a href="/kontak"> Chat WhatsApp </a>
      </Button>
    </div>

    <NavigationMobile items={navigation} isHome={isHome} client:load />
  </div>
</header>
